@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Poppins:wght@300;600;700&display=swap');
:root{
    --primary-blue: rgb(60, 128, 103);
    --primary-cream: hsl(30, 38%, 92%);
    --neu-darkblue: hsl(212, 21%, 14%);
    --neu-darkgrayblue: hsl(228, 12%, 48%);
    --neu-white: hsl(0, 0%, 100%);
    --font-size: 1.4rem;
    --fw-small: 500;
    --fw-big: 700;
    --serif: 'Fraunces', serif; 
    --sans: 'Montserrat', sans-serif; 


}
/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

html{
    /* font: 10px; */
    font-size: 62.5%;
}

body{
    font-size: var(--font-size);
    font-family: var(--sans);
    font-weight: var(--fw-small);
    color: var(--neu-darkgrayblue);
}

.product-preview-card{
    height: 100vh;
    background-color: var(--primary-cream);
    display: grid;
    place-items: center;
}

.card{
    width: 300px;
    height: 500px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: var(--neu-white);
    /* padding: 20px; */
}

.card h2{
    font-weight: var(--fw-big);
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
}

.card h3{
    font-family: var(--serif);
    color: var(--neu-darkblue);
    font-size: 2.6rem;
    line-height: 2.7rem;
}
.card-image{
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(./images/image-product-mobile.jpg);
    background-position: cover; 
    background-size: cover;
}

.card-content{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    /* border: 2px solid black; */
}

.card-content * {
    margin: 1rem 0;
}

.card-price span:first-child{
    font-size: 2.6rem;
    color: var(--primary-blue);
    font-family: var(--serif);
}
.card-price{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

.card-price *{
    margin: 0;
}

.card button{
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-blue);
    color: var(--neu-white);
    font-weight: var(--fw-big);
}

.card button:hover{
    background-color: rgb(60, 100, 103);
}
.card button:active{
    background-color: rgb(60, 110, 103);
}
.card button div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media (min-width: 650px){
    .card{
        display: flex;
        width: 470px;
        height: 350px;
        
    }
    .card .card-image{
        border-top-right-radius: 0px;
        width: 100%;
        height: 100%;
        background-image: url(./images/image-product-desktop.jpg);
        background-position: cover; 
        background-size: cover;
        flex-basis: 50%;
    }
    .card .card-content{
        flex-basis: 50%;
    }
    .card button{
        margin-top: 2rem;
    }
}
